<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%- title %></title>

<meta property="og:url" content="<%- og_url %>">
<meta property="og:type" content="<%- og_type %>">
<meta property="og:title" content="<%- title %>">
<meta property="og:description" content="<%- description %>">
<meta property="og:site_name" content="味の素グループ新商品10,000人プレゼントキャンペーン">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%- title %>">
<meta name="twitter:description" content="<%- description %>">

<link rel="icon" href="<%- baseDir %>/assets/img/common/favicon.ico">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="<%- baseDir %>/assets/css/slick.css">
<link rel="stylesheet" href="<%- baseDir %>/assets/css/slick-theme.css">
<link rel="stylesheet" href="<%- baseDir %>/assets/css/common.css">