<div class="c-pcleft">
    <div class="c-pcleft__inner">
        <div class="c-pcleft__navarea">
            <figure class="c-pcleft__navarea__heading">
                <img src="<%- baseDir %>/assets/img/common/heading_img.png" alt="新商品 10,000人 プレゼントキャンペーン">
            </figure>
            <div class="c-pcleft__nav">
                <figure class="c-pcleft__nav__bg">
                    <img src="<%- baseDir %>/assets/img/common/nav_bg.png" alt="背景">
                </figure>
                <nav class="c-pcleft__nav__inner">
                    <ul class="c-pcleft__nav__list">
                        <li class="c-pcleft__nav__item">
                            <a class="c-pcleft__nav__link" href="<% if( page === 'top' ){ %>#info<% }else{ %><%- baseDir %>/#info<% } %>">
                                <p class="c-pcleft__nav__link__text">10,000名様に味の素グループ<br>
                                    新商品＠点セットプレゼント！</p>
                            </a>
                        </li>
                        <li class="c-pcleft__nav__item">
                            <a class="c-pcleft__nav__link" href="<% if( page === 'top' ){ %>#intro<% }else{ %><%- baseDir %>/#intro<% } %>">
                                <p class="c-pcleft__nav__link__text">商品紹介</p>
                            </a>
                        </li>
                        <li class="c-pcleft__nav__item">
                            <a class="c-pcleft__nav__link" href="<% if( page === 'top' ){ %>#flow<% }else{ %><%- baseDir %>/#flow<% } %>">
                                <p class="c-pcleft__nav__link__text">応募方法</p>
                            </a>
                        </li>
                        <li class="c-pcleft__nav__item">
                            <a class="c-pcleft__nav__link" href="<% if( page === 'top' ){ %>#term<% }else{ %><%- baseDir %>/#term<% } %>">
                                <p class="c-pcleft__nav__link__text">応募要項</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="c-pcleft__imgarea">
            <div class="c-pcleft__imgarea__container js-pcbg-item" data-item="1">
                <div class="c-pcleft__imgarea__item" data-item="1">
                    <figure class="c-pcleft__imgarea__img">
                        <img src="<%- baseDir %>/assets/img/common/product_img01.png" alt="商品01">
                    </figure>
                    <figure class="c-pcleft__imgarea__icon01">
                        <img src="<%- baseDir %>/assets/img/common/panda_icon01.png" alt="アジパンダ">
                    </figure>
                </div>
                <div class="c-pcleft__imgarea__item" data-item="2">
                    <figure class="c-pcleft__imgarea__img">
                        <img src="<%- baseDir %>/assets/img/common/product_img02.png" alt="商品02">
                    </figure>
                    <figure class="c-pcleft__imgarea__icon02">
                        <img src="<%- baseDir %>/assets/img/common/panda_icon02.png" alt="アジパンダ">
                    </figure>
                </div>
            </div>
            <div class="c-pcleft__imgarea__container js-pcbg-item" data-item="2">
                <div class="c-pcleft__imgarea__item" data-item="3">
                    <figure class="c-pcleft__imgarea__img">
                        <img src="<%- baseDir %>/assets/img/common/product_img03.png" alt="商品03">
                    </figure>
                    <figure class="c-pcleft__imgarea__icon03">
                        <img src="<%- baseDir %>/assets/img/common/panda_icon01.png" alt="アジパンダ">
                    </figure>
                </div>
                <div class="c-pcleft__imgarea__item" data-item="4">
                    <figure class="c-pcleft__imgarea__img">
                        <img src="<%- baseDir %>/assets/img/common/product_img04.png" alt="商品04">
                    </figure>
                    <figure class="c-pcleft__imgarea__icon04">
                        <img src="<%- baseDir %>/assets/img/common/panda_icon02.png" alt="アジパンダ">
                    </figure>
                </div>
            </div>
            <div class="c-pcleft__imgarea__container js-pcbg-item" data-item="3">
                <div class="c-pcleft__imgarea__item" data-item="5">
                    <figure class="c-pcleft__imgarea__img">
                        <img src="<%- baseDir %>/assets/img/common/product_img05.png" alt="商品05">
                    </figure>
                    <figure class="c-pcleft__imgarea__icon05">
                        <img src="<%- baseDir %>/assets/img/common/panda_icon01.png" alt="アジパンダ">
                    </figure>
                </div>
                <div class="c-pcleft__imgarea__item" data-item="6">
                    <figure class="c-pcleft__imgarea__img">
                        <img src="<%- baseDir %>/assets/img/common/product_img06.png" alt="商品06">
                    </figure>
                    <figure class="c-pcleft__imgarea__icon06">
                        <img src="<%- baseDir %>/assets/img/common/panda_icon02.png" alt="アジパンダ">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <figure class="c-pcleft__img" data-item="1">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img01.png" alt="リボン">
    </figure>
    <figure class="c-pcleft__img" data-item="2">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img02.png" alt="リボン">
    </figure>
    <figure class="c-pcleft__img" data-item="3">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img03.png" alt="リボン">
    </figure>
    <figure class="c-pcleft__img" data-item="4">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img04.png" alt="リボン">
    </figure>
    <figure class="c-pcleft__img" data-item="5">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img05.png" alt="リボン">
    </figure>
    <figure class="c-pcleft__img" data-item="6">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img06.png" alt="皿">
    </figure>
    <figure class="c-pcleft__img" data-item="7">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img07.png" alt="スプーン">
    </figure>
    <figure class="c-pcleft__img" data-item="8">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img08.png" alt="フォーク">
    </figure>
    <figure class="c-pcleft__img" data-item="9">
        <img src="<%- baseDir %>/assets/img/common/pcbg_img09.png" alt="ミトン">
    </figure>
</div>